
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Gloria Hallelujah';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/gloria-hallelujah-v21-latin/gloria-hallelujah-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* yanone-kaffeesatz-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/yanone-kaffeesatz-v30-latin/yanone-kaffeesatz-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
body .reveal {
    font-family: "Yanone Kaffeesatz", "normal";
}



/* profiles pages start */
#profiles img{
    border-radius: 100%;
    width: 150px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.img-left{
    margin-right: 20px;
}

.img-right{
    margin-left: 20px;
}

.difficulty-dots{
    font-size: x-large; 
    vertical-align:middle;
    color:#E76F51;
}

#profiles{
    display: grid;
    align-items: center;
    /* width: 80%; */
    grid-template-columns: repeat(6, 1fr);
}


/* list of images start */

#list-of-images{
    display: grid;
    grid-template-columns: 0.75fr 2fr 2fr 2fr;
    grid-template-rows: 20px repeat(7, 60px);
    align-items: center;
    font-size: x-large;
    row-gap: 10px;
    /* justify-items: left; */
}

#list-of-images img{
    margin: 0;
    object-fit: cover;
    width: 100%;
    max-height: 55px;
}


/* column 1 */
#list-of-images > div:nth-child(4n+1){
    margin-right: 20px;
}

/* columns 2 to 4 */
#list-of-images > div:nth-child(4n+2),
#list-of-images > div:nth-child(4n+3),
#list-of-images > div:nth-child(4n+4){
    justify-self: left;
}

#list-of-images > div:nth-child(-n+4){
    color: #E76F51;
}


/* list of images end */

.footer{
    width: 100%; 
    height: 100%;
    position:fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items:flex-end;
}

.profile-txt{
    grid-column: span 5; 
}

.txt-right{
    text-align: left;
}
.txt-left{
    text-align: right;
}


.five-r{
    margin-left: 0 !important;
}

/* profiles pages end */

/* flow chart start */

#quellcode{
    position: relative;
    left: 100px;
    top: 10px;
}


.flow .state,
.flow .process{
    width: 150px;
    padding: 20px;
    background-color: #264653;
}

.flow .process{
    padding-left: 60px;
    padding-right: 40px;
}

/* .flow .process{
    padding-left: 50px;
    padding-right: 50px;


} */

.process{
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);}


/* flow chart end */


.hl {
    color: #E76F51
}

#git{
    font-size: 1000%;
    color: #E76F51;
}





#vr-greshan-3{
    border-radius: 36px;
    filter:brightness(150%) contrast(120%) saturate(180%);

}


/* markdown-to-html start */
#fox-story-input{
    width: 50% !important;
}

#fox-story-input code{
    border: 2px solid #E76F51;
}

#fox-story-input pre:before{
    content: "fox-story.md";
    position:fixed;
    font-family: monospace;
    left: 20px ;
    font-size: large;
}

#fox-story-output{
    background-color: #264653; 
    width: 50%;
    padding: 30px;

}



#fox-title{
    text-decoration: underline; 
    text-transform:uppercase;
    text-align: left !important;
}
/* markdown-to-html end */

/* carbon code style start */

.prettycode{
    padding: 30px !important;
    padding-top: 50px !important;

}

.circles{
    position: relative;
    top: 30px;
    left: 8px;
}

.circles > span:nth-child(1){
    color: #ff5f56;
}
.circles > span:nth-child(2){
    color: #ffbd2e;
}
.circles > span:nth-child(3){
    color: #27c93f;
}

/* carbon code style end */


/* pre.markdown::before{
    content: url("data:image/svg+xml,%3Csvg width='350' height='100' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='50' cy='50' r='50' fill='%23ff5f56' /%3E%3Ccircle cx='175' cy='50' r='50' fill='%23ff5f56' /%3E%3Ccircle cx='300' cy='50' r='50' fill='%23ff5f56' /%3E%3C/svg%3E");    

} */

.shadow {
    text-shadow: 2px 2px #000000 !important;
}

.strokeme {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000 !important;
  }

.blurred .slide-background-content {
    filter: blur(5px)
}

.blurred2 .slide-background-content {
    filter: blur(20px) grayscale(20%)
}

.right-align{
    position:fixed; 
    right: 0
}


/* fragments start */
.fragment.fragment-outline,
.fragment.fragment-hl-orange,
.fragment.fragment-remove,
.fragment.fragment-hide,
.fragment.fragment-underline,
.fragment.fragment-background
{
    visibility: visible !important;
    opacity: 1 !important;
}

.fragment.fragment-outline.current-fragment {
    padding: 10px;
    outline: 3px solid #E76F51;
    outline-offset: 4px;
}

.fragment.fragment-background.current-fragment{
    background-color: #E76F51;
}

.fragment.fragment-5r.current-fragment{
    color: #E76F51;
}


.fragment.fragment-hl-orange.visible{
    color: #E76F51
}

.fragment.fragment-underline.visible{
    text-decoration: underline;
}

.fragment.fragment-remove.visible{
    color: #E76F51;
    text-decoration:line-through;
}


.fragment.fragment-hide.visible{
    margin-right: -100%;
    /* transition-duration: 2s; */
    opacity: 0 !important;
}




/* fragments end */


/* blockquote start */



.blockquote::before {
    font-family: FontAwesome;
    content: '\f10d'; /*quote left icon*/
}

.blockquote{
    font-family: "Gloria Hallelujah", "normal";
}

.attribution{
    font-size: large;
    padding-top: 20px;
}

.attribution::before{
    content: "- ";
}

/* blockquote end */